@()
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Form</title>

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
        <link rel="stylesheet" href="/assets/stylesheets/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/prefixfree/1.0.7/prefixfree.min.js"></script>

    </head>

    <body>
        <div class="login">
            <h1>请输入您的id</h1>
            <form method="post" action="/query">
                <input type="text" onkeyup="this.value=this.value.replace(/[^\d]/g,'') "
                onafterpaste="this.value=this.value.replace(/[^\d]/g,'') "
                name="id" placeholder="好友id" required="required"/>
                <button type="submit" class="btn btn-primary btn-block btn-large">确认</button>
            </form>
        </div>
    </body>
</html>